html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

.poema {
  top: 5vh;
  left: 5vh;
  height: 25vh;
  width: 20vh;
  color: black;
  font-family: "IBM Plex Mono";
  font-size: 1vh;
  position: absolute;
  margin: 5vh 5vw 10vh 60vw;
  z-index: 100;
}
